.pfd{
    font-family: 'Unna', serif;
}

.fixed-bg{
    background-image: url("background.jpg");
    min-height: 300px;
    background-attachment: fixed;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-bg{
    background-color: rgb(255, 255, 255);
    width: 600px;
}

.ansur-bg{
    background-color: white;
}

.header-color {
    background-color: darkseagreen;
}

.post-color {
    background-color: white;
}

div.hidden
{
   display: none
}